#!/usr/bin/env xdg-open
[Desktop Entry]
Name=FooSocial
Exec=/path/to/client
Icon=internet-web-browser
Terminal=false
Type=Application
Categories=Network;
MimeType=text/plain;image/png;
Share=Generic;ChangeProfileImage;

[Desktop Share Generic]
Name=Share with peeps
Icon=group
MimeType=image/png;text/plain;
AcceptsMultipleFiles=true

[Desktop Share ChangeProfileImage]
Name=Change your profile image
Icon=user
MimeType=image/png;

[Desktop Share Debug]
Name=View share info
Icon=documentinfo
MimeType=image/png;text/plain;
AcceptsMultipleFiles=true
